$size: 200px;
$space: 20px;
$font-stack: Futura;
$border-size: 1px;
$petals: 5;

.container {
  width: $size;
  height: $size;
  border: 1px solid;
  position: relative;
}

.container > div {
  position: absolute;
  border-radius: 0 70% 40% 70%;
  border: 1px solid;
  width: 120px;
  height: 120px;
  left: 10px;
  top: 50px;
  transform: rotate(45deg);
  transform-origin: 90px 90px;
  animation-duration: 6000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.container > div:nth-child(1) {
  animation-name: bloom-1;
  background-color: hsla(0, 100%, 50%, 0.21);
}

.container > div:nth-child(2) {
  animation-name: bloom-2;
  background-color: hsla(60, 100%, 50%, 0.21);
}

.container > div:nth-child(3) {
  background-color: hsla(120, 100%, 50%, 0.21);
}

.container > div:nth-child(4) {
  animation-name: bloom-4;
  background-color: hsla(180, 100%, 50%, 0.21);
}

.container > div:nth-child(5) {
  animation-name: bloom-5;
  background-color: hsla(240, 100%, 50%, 0.21);
}

@for $i from 1 through 5 {
  @if $i != 3 {
    @keyframes bloom-#{$i} {
      0% { transform: rotate(45deg); }
    }
  }

}
@keyframes bloom-1 {
  100% { transform: rotate(-45deg); }
}

@keyframes bloom-2 {
  100% { transform: rotate(135deg); }
}

// @keyframes bloom-3 {
//   100% { transform: rotate(0deg); }
// }

@keyframes bloom-4 {
  100% { transform: rotate(0deg); }
}

@keyframes bloom-5 {
  100% { transform: rotate(90deg); }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
  height: 100%;
}
